rect {
  fill: white;
}

rect.border {
  stroke:black;
  stroke-width:3;
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.passer-1 { fill: green; }
.passer-2 { fill: blue; }
.passer-3 { fill: red; }
.passer-4 { fill: purple; }
.passer-5 { fill: orange; }
.passer-6 { fill: cyan; }
.passer-7 { fill: lightcoral; }
.passer-8 { fill: lightblue; }
.passer-9 { fill: cadetblue; }
.passer-10 { fill: salmon; }
.passer-11 { fill: slategray; }
.passer-12 { fill: slateblue; }

svg text { font-weight: bold; }
